//Comfortaa
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa/Comfortaa-Light.ttf") format("truetype");
  font-display: block;

  font-weight: 300;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype");
  font-display: block;

  font-weight: 400;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa/Comfortaa-Medium.ttf") format("truetype");
  font-display: block;

  font-weight: 500;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa/Comfortaa-SemiBold.ttf") format("truetype");
  font-display: block;

  font-weight: 600;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
  font-display: block;

  font-weight: 700;
}

//Plaster
@font-face {
  font-family: "Plaster";
  src: url("../fonts/Plaster/Plaster-Regular.ttf") format("truetype");
  font-display: block;

  font-weight: 400;
}

//Poiret One
@font-face {
  font-family: "Poiret One";
  src: url("../fonts/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
  font-display: block;

  font-weight: 400;
}

//Righteous
@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous/Righteous-Regular.ttf") format("truetype");
  font-display: block;

  font-weight: 400;
}
